{% extends 'base.html' %}

{% block content %}
  {% if searched %}
    {% for trans in transports %}
    <div class="card">
      <div class="card-content">
        <a href="{% url 'transport_detail' transport.id %}"></a>
        <p class="searched-text">
          <ul>
            {% load static %}
            <img src="{% static trans.image %}" alt="transport-image">
            
            
            {% csrf_token %}
            {{ form.as_p }} 
          </ul>
          
        </p>
      </div>
    </div>
    {% endfor %}
  

  {% else %}
  <h2>Hey! You Forgot To Search For A Transport...</h2>
  {% endif %}
{% endblock %}