{% extends 'base.html' %}
{% block content %}

<div class="page-header">
  <h1>Container List</h1>
</div>

<br />

<form class="d-flex" method="GET" action="{% url 'container_list' %}">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Search Container"
    aria-label="Search"
    name="searched"
  />
  <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>

<br /><br />

{% if search_result %}
  <div class="container-card">
    <div class="container-info">
      <h2>Result for "{{ search_result.code }}"</h2>
      <a href="{% url 'container_detail' search_result.id %}">
        <p><label>Code:</label> {{ search_result.code }}</p>
        <p><label>Description:</label> {{ search_result.description }}</p>
        <p><label>Capacity:</label> {{ search_result.weight_capacity }}</p>
        <p><label>Current Weight:</label> {{ search_result.currnt_weight_capacity }}</p>
      </a>
      <a href="{% url 'container_list' %}">
        <button class="btn">Back</button>
      </a>
    </div>
  </div>

{% elif message %}
  <p style="color:red;">{{ message }}</p>
  <a href="{% url 'container_list' %}"><button class="btn">Back</button></a>

{% else %}
  <div class="container-list">
    {% for container in containers %}
    <div class="container-card">
      <a href="{% url 'container_detail' container.id %}">
        <div class="container-info">
          <span class="card-title">{{ container.code }}</span>
          <p><label>Description:</label> {{ container.description }}</p>
          <p><label>Capacity:</label> {{ container.weight_capacity }}</p>
          <p><label>Current:</label> {{ container.currnt_weight_capacity }}</p>
        </div>
      </a>
    </div>
    {% empty %}
      <p>No containers found.</p>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}
