{% extends 'base.html' %} {% block content %}

<div class="create-container">
  <h2>Create Container</h2>

  <form method="POST">
    {% csrf_token %}
    <div class="form-grid">
      <div class="form-field">
        <div class="field">
          <label for="id_tracking_location">Tracking Location</label>
          {{ form.tracking_location}}
        </div>
        <div class="field">
          <label for="id_weight">Weight</label>
          {{ form.weight}}
        </div>
        <div class="field">
          <label for="id_description">Description</label>
          {{ form.description}}
        </div>
      </div>

      <div class="form-action">
        <button type="submit" class="btn">Create</button>
      </div>

      <div class="container-list">{% include 'main_app/container_list.html' %}</div>
    </div>
  </form>
</div>

{% endblock %}
